<!-- This is the template that controls what shows on user's screen 
			once they haved joined a game, be it "waiting-room", "role-selection", "game-flow", etc.
-->
<template name="controlRoom">
  <div class="container">
    {{#if isWaiting}} 
      {{> waitingRoom}}
    {{/if}}
    {{#if isSelecting}}
      {{> roleSelection}}
    {{/if}}
    {{#if hasStarted}}
      {{> gameFlow}}
    {{/if}}
  </div>
</template>