<template name="enterGame">
  <div class="container">
    {{> loginButtons  align="right"}}
    {{#if currentUser}}
      <div class="main">
        <button type="button" class="search-game">
          Join game
        </button>
        <button type="button" class="create-game">
          Create game
        </button>
      </div>
    {{else}}
      <div>Please login to play</div>
    {{/if}}
  </div>
</template>