<!-- template -->
<template name="gameRounds">
	<div>
		{{#if isNight}}		
			{{> nightRound}}
		{{else}}
			{{#if isDay}}
				{{> dayRound}}
			{{else}}
				<h3>Hmmm...Something went wrong</h3>
			{{/if}}
		{{/if}}
	</div>
</template>

<template name="nightRound">
	<h3>Night {{round}}</h3>
	<audio autoplay>
		<source src="{{nightBeginAudio}}" type="audio/mpeg">
	</audio>
	<button class="test">Test audio</button>
	<!--audio autoplay>
		<source src="{{wakeWerewolvesAudio}}" type="audio/mpeg">
	</audio-->
</template>

<template name="dayRound">
	<h3>Day {{round}}</h3>
	<audio controls>
		<source src="{{dayBeginAudio}}" type="audio/mpeg">
	</audio>
</template>
<!-- template for a single round (one cycle of night/day) -->