<template name="gameFlow">
	<div class="container">
    <header>
    	Game: {{name}}
    	{{#if isOwner}}
    		<button name="{{_id}}" class="back-to-waiting-room-owner">Cancel</button>
  		{{/if}}
    </header>       
    {{#if gameStarted}}
    	{{#unless everyoneIsReady}}
				{{> showRoleAssignment}}
			{{else}}
				{{> gameRounds}}
			{{/unless}}
		{{else}}
			{{#if gameFinished}}
				{{> gameStats}}
			{{else}}
				{{#if gameAborted}}
					{{> enterGame}}
				{{/if}}
			{{/if}}
		{{/if}}
    </div>
</template>

<!-- send each player their role -->
<template name="showRoleAssignment">
	<div name={{_id}}>
		<h3>Your role is: {{currentPlayerRole}}</h3>
		<p>Guard your screen as you would with you life!</p>
		<p>Know your role and ready to play?</p>
		<button class="ready-to-game">Yes!</button>
	</div>
</template> 

