<template name="roleSelection">
  <div class="container">
    <header>
      {{#if isOwner}}
        <button name="{{_id}}" class="start-game">Start game</button>
        <button name="{{_id}}" class="back-to-waiting-room-owner">Cancel</button><br><br>
      {{/if}}
      <p class="text">Game: {{name}} Owner: {{owner.username}}</p>
      <span>
        {{#if gameOff}}
          {{#unless isOwner}}
            <button class="back-to-waiting-room">Game is canceled. Go back to waiting room.</button>
          {{/unless}}
        {{/if}}
      </span><br>
      <p class="text">{{unassignedPlayers}} more roles to add</p>
    </header>
    <div class="main">
      <ul class="list-group">
        {{#if isOwner}}
          {{#each roles}}
            {{> roleOwner}}
          {{/each}}
        {{else}}
          {{#each roles}}
            {{> role}}
          {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>
</template>

<template name="roleOwner">
  <li class="list-group-item">
    <button class="show-description"> ? </button>
    <span class="role-name">{{name}}</span>   
    <span class="badge">
      <button name="{{../_id}}" class="decrease-by-one"> - </button>
      {{count}}
      <button name="{{../_id}}" class="increase-by-one"> + </button>
    </span>
    <!--span>{{count}}</span-->    
    <br>
  </li>
</template>

<template name="role">
  <li class="list-group-item">
    <button class="show-description"> ? </button>
    <span class="role-name">{{name}}</span>
    <span class="badge">{{count}}</span>
    <br>
  </li>
</template>