<template name="waitingRoom">
  <div class="container">
    <header>
      {{#if isOwner}}
        <span><button name="{{_id}}" class="goto-role-selection-owner">Ready!</button></span>
      {{/if}}
      <button name="{{_id}}" class="back-to-main-room">Cancel</button><br><br>
      <span class="text">Game: {{name}}   Owner: {{owner.username}}</span>
      <span>
        {{#if isSelecting}}
          {{#unless isOwner}}
            <button name="{{_id}}" class="goto-role-selection">Game is on. Take me there!</button>
          {{/unless}}
        {{/if}}
      </span><br>
      <p class="text">{{count}} players have joined.</p>
    </header>
    <ul>
      <div class="main">
        {{#each players}}
          <li><span class="text">{{username}}</span></li>
        {{/each}}
      </div>
    </ul>
  </div>
</template>
