header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.main {
  text-align: center;
}
.search-game {
  position: absolute;
  top: 30%;
}
.create-game {
  position: absolute;
  top: 50%;
}
header .goto-role-selection-owner {
  float: right;
}
header .start-game {
  float: right;
}
header .back-to-main-room {

}
.role-name {
  position: relative;
}